.DS_Store
cp4i-deployment/cp4i-subscription.yaml
cp4i-deployment/operators-group.yaml
*.txt
.taskcat-local.yml
.taskcat_overrides.yml
.taskcat/
taskcat_outputs/
index.html
docs/index.html
docs/generated/*
.taskcat_overrides.yml
